body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #081B31;
  color: #C3AC81;
}
nav{
  margin: 30px auto 0 auto;
  display: flex;
  justify-content: center;
}
main{
  display: flex;
  gap: 30px;
  flex-wrap: wrap-reverse;
  justify-content: center;
  padding: 30px;
  align-items: flex-end;
}
h2{
  text-align: center;
}
h3{
  margin-bottom: 10px;
  margin-top: 0px;
}
section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.produtos{
  max-width: 50vw;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.instruções{
  width: 80vw;
  background-color: #0b2543;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  margin: 0 auto;
}
.produto{
  width: 200px;
  background-color: #0b2543;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.produto h3{
  font-size: 16px;
  margin-bottom: 5px;
}
.produto p{
  font-size: 12px;
  color: #fff;
  border: solid 1px #fff;
  padding: 2px 5px;
  margin: 0;
}
.produto button{
  margin-top: 5px;
  width: 100%;
  color: #081B31;
  background-color: #C3AC81;
  border: none;
  border-radius: 2px;
  padding: 5px;
  transition: 0.7s all;
}
.produto button:hover{
  cursor: pointer;
  background-color: #be974e;
}
.carrinho{
  background-color: #0b2543;
  min-height: 20vh;
  width: 30vw;
  padding: 20px;
}
.carrinho button{
  margin-top: 5px;
  width: 100%;
  color: #081B31;
  background-color: #C3AC81;
  border: none;
  border-radius: 2px;
  padding: 5px;
  transition: 0.7s all;
}
.carrinho button:hover{
  cursor: pointer;
  background-color: #be974e;
}
.carrinho h3{
  margin: 0;
}
footer{
  text-align: center;
}
footer a{
  color: #ab7d27;
}